@font-face {
    font-family: 'MMC';
    src: url('MMC-Bold.woff2') format('woff2'),
        url('MMC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MMC';
    src: url('MMC-Regular.woff2') format('woff2'),
        url('MMC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MMC';
    src: url('MMC-Medium.woff2') format('woff2'),
        url('MMC-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MMC';
    src: url('MMC-Regular.woff2') format('woff2'),
        url('MMC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MMC';
    src: url('MMC-Bold.woff2') format('woff2'),
        url('MMC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MMC';
    src: url('MMC-Medium.woff2') format('woff2'),
        url('MMC-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

